<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Vehicles | Bilal Automarts</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <!-- Navigation -->
    {% include 'partials/navbar.html' %}


    <!-- Vehicle Listing -->
    <section class="vehicle-grid">
        <h2>Explore Our Vehicles</h2>
        <form method="get" class="filter-form">
            <select name="transmission">
                <option value="">Transmission</option>
                <option value="Automatic" {% if request.GET.transmission == "Automatic" %}selected{% endif %}>Automatic</option>
                <option value="Manual" {% if request.GET.transmission == "Manual" %}selected{% endif %}>Manual</option>
            </select>

            <select name="fuel_type">
                <option value="">Fuel Type</option>
                <option value="Petrol" {% if request.GET.fuel_type == "Petrol" %}selected{% endif %}>Petrol</option>
                <option value="Diesel" {% if request.GET.fuel_type == "Diesel" %}selected{% endif %}>Diesel</option>
                <option value="Hybrid" {% if request.GET.fuel_type == "Hybrid" %}selected{% endif %}>Hybrid</option>
            </select>

            <select name="drive_type">
                <option value="">Drive Type</option>
                <option value="4WD" {% if request.GET.drive_type == "4WD" %}selected{% endif %}>4WD</option>
                <option value="FWD" {% if request.GET.drive_type == "FWD" %}selected{% endif %}>FWD</option>
                <option value="RWD" {% if request.GET.drive_type == "RWD" %}selected{% endif %}>RWD</option>
            </select>
            
            <button type="submit">Filter</button>

        </form>
        <div class="grid">
            {% for vehicle in vehicles %}
            <div class="card fade-in" data-id="{{ vehicle.id }}">
                    <img src="{{ vehicle.image.url }}" alt="{{ vehicle.title }}">
                    <h3>{{ vehicle.title }}</h3>
                    <p>{{ vehicle.description|truncatewords:20 }}</p>
                    <p><strong>Ksh {{ vehicle.price }}</strong></p>
            </div>
            {% empty %}
                <p>No vehicles available at the moment.</p>
            {% endfor %}
        </div>
    </section>

    <script src="{% static 'js/all_vehicles.js' %}"></script>
</body>
</html>
