<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'inventory/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">

    <title>Bilal Automarts</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">Bilal Automarts</div>
        <div class="nav-links">
            <li class="dropdown">
                <a href="#">Vehicles  <i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu">
                <li><a href="{% url 'vehicles' %}">All</a></li>
                <li><a href="{% url 'vehicles' %}?category=SUV">SUV</a></li>
                <li><a href="{% url 'vehicles' %}?category=Sedan">Sedan</a></li>
                <li><a href="{% url 'vehicles' %}?category=Wagon">Wagon</a></li>
                <li><a href="{% url 'vehicles' %}?category=Pickup">Pickup</a></li>
                </ul>
            </li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Support & Service</a></li>
        </div>
        <div class="icons">
            <a href="#"><i class="fa fa-search"></i></a>
            <a href="#"><i class="fa fa-user"></i></a>
        </div>
    </nav>

    <section class="video-section">
        <video src="{% static 'videos/car video.mp4' %}" autoplay muted loop playsinline>
            
        </video>
    
        <div class="overlay-content">
            <h1>Drive the Future</h1>
        </div>
    </section>
    <!-- <div class="video-responsive">
        <iframe src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>
    </div> -->
</body>
</html>